.waiting-for-state,
.waiting-for-state *,
.invisible,
.invisible * {
    border-color: transparent !important;
    background-color: transparent !important;
    color: transparent !important;
    fill: transparent !important;
    stroke: transparent !important;
}
#svg-defs,
.ActiveSymbol .ActiveGroup {
    display: none;
}
.ActiveButton,
.ActiveMessageButton,
.ActiveMenuButton,
.ActiveChoiceButton,
.ShellCommand,
.ActiveControlText.editable {
    cursor: not-allowed;
}
.ActiveRectangle {
    pointer-events: none;
}
.RelatedDisplay.invisible {
    z-index: 2;
}
.RelatedDisplay,
.anchor-li {
    cursor: pointer;
}
.related-display-menu {
    position: absolute;
    width: 10px;
    height: 10px;
    z-index: 2;

}
.related-display-menu ul {
    position: relative;
    background-color: rgb(200, 200, 200);
    border-top: 2px solid white; 
    border-right: 2px solid rgb(105, 105, 105); 
    border-left: 2px solid white; 
    border-bottom: 2px solid rgb(105, 105, 105);
    list-style: none;
    display: inline-block;
    margin: 0;
    padding: 0;
    white-space: nowrap;
}
.related-display-menu a {
    text-decoration: none;
    color: black;
}
.related-display-menu li {
    border: 2px solid transparent;
    min-height: 5px;
}
.related-display-menu li:hover {
    border-top: 2px solid white; 
    border-right: 2px solid rgb(105, 105, 105); 
    border-left: 2px solid white; 
    border-bottom: 2px solid rgb(105, 105, 105);    
}
.ActiveButton:hover,
.ShellCommand:hover,
.ActiveMessageButton:hover,
.ActiveMenuButton:hover,
.ActiveChoiceButton:hover,
.RelatedDisplay:hover,
.ActiveControlText.editable:not(.motif):hover {
    outline: 2px solid black;
}
.ActiveControlText,
.screen {
    overflow: hidden;
}
.ActiveChoiceButton .ScreenObject span {
    white-space: nowrap;
}
.screen-text {
    white-space: pre;
    display: table-cell;
    vertical-align: middle;
}
.text-wrap {
    box-sizing: border-box;
    display: table;
    width: 100%;
    height: 100%;    
}
.ScreenObject {
    position: absolute;
    box-sizing: border-box;
}
svg.ScreenObject {
    overflow: visible;
}
.connection-state-panel {
    float: right;
}
.menu-button-container {
    display: table;
    width: 100%;
}
.menu-button-container > div {
    display: table-cell;
}
.menu-button-container > .screen-text {
    width: 85%;
}
.menu-button-box {
    text-align: center;
    vertical-align: middle;
}
.menu-button-box > div {
    width: 50%;
}
.menu-button-box > div > div {
    height: 0;
    padding-bottom: 100%;
}