.invisible,
#svg-defs,
.ActiveSymbol .ActiveGroup {
    display: none;
}
.ActiveButton,
.ActiveMessageButton,
.ActiveChoiceButton,
.ShellCommand {
    cursor: not-allowed;
}
.ActiveRectangle {
    pointer-events: none;
}
.RelatedDisplay {
    cursor: pointer;
}
.related-display-menu {
    position: absolute;
    width: 10px;
    height: 10px;
    z-index: 2;

}
.related-display-menu ul {
    position: relative;
    background-color: rgb(200, 200, 200);
    border-top: 2px solid white; 
    border-right: 2px solid rgb(105, 105, 105); 
    border-left: 2px solid white; 
    border-bottom: 2px solid rgb(105, 105, 105);
    list-style: none;
    display: inline-block;
    margin: 0;
    padding: 0;
    white-space: nowrap;
}
.related-display-menu a {
    text-decoration: none;
    color: black;
}
.related-display-menu li {
    border: 2px solid transparent;
    min-height: 5px;
}
.related-display-menu li:hover {
    border-top: 2px solid white; 
    border-right: 2px solid rgb(105, 105, 105); 
    border-left: 2px solid white; 
    border-bottom: 2px solid rgb(105, 105, 105);    
}
.ActiveButton:hover,
.ActiveMessageButton:hover,
.ActiveChoiceButton:hover,
.RelatedDisplay:hover {
    outline: 2px solid black;
}
.screen {
    overflow: hidden;
}
.screen-text {
    white-space: pre;
    display: table-cell;
    vertical-align: middle;
}
.border-3d {
    box-sizing: border-box;
    display: table;
    width: 100%;
    height: 100%;    
}
.ScreenObject {
    position: absolute;
    box-sizing: border-box;
}
svg.ScreenObject {
    overflow: visible;
}
.connection-state-panel {
    float: right;
}