.menu-button-container {
    display: table;
    width: 100%;
}
.menu-button-container > div {
    display: table-cell;
}
.menu-button-container > .screen-text {
    width: 85%;
}
.menu-button-box {
    text-align: center;
    vertical-align: middle;
}
.menu-button-box > div {
    width: 50%;
}
.menu-button-box > div > div {
    height: 0;
    padding-bottom: 100%;
}

