.ActivePictureInPicture {
    overflow: auto;
}
.ActivePictureInPicture.noscroll {
    overflow: hidden;
    border-width: 0 !important;
}
.ActivePictureInPicture.pip-center .screen {
    margin: 0 auto;
}
.ActivePictureInPicture .vertical-center {
    top: 50%;
    transform: translateY(-50%);
}
