.related-display-menu {
    position: absolute;
    width: 10px;
    height: 10px;
    z-index: 2;

}
.related-display-menu ul {
    position: relative;
    background-color: rgb(200, 200, 200);
    border-top: 2px solid white; 
    border-right: 2px solid rgb(105, 105, 105); 
    border-left: 2px solid white; 
    border-bottom: 2px solid rgb(105, 105, 105);
    list-style: none;
    display: inline-block;
    margin: 0;
    padding: 0;
    white-space: nowrap;
}
.related-display-menu a {
    text-decoration: none;
    color: black;
}
.related-display-menu li {
    border: 2px solid transparent;
    min-height: 5px;
}
.related-display-menu li:hover {
    border-top: 2px solid white; 
    border-right: 2px solid rgb(105, 105, 105); 
    border-left: 2px solid white; 
    border-bottom: 2px solid rgb(105, 105, 105);    
}

